.aboutContainer
{
	position: relative;
	width: 100%;
	background-color: #15202B;
	padding-bottom: 50px;
}

.sectionWave
{
	width: 100%;
	display: block;
	max-height: 250px;
}

.coloredText
{
	color: #1DA1F2;
}

.aboutTitle
{
	text-align: center;
	color: white;
}

.aboutCards
{
	flex-direction: column;
	padding-top: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
