.navContainer a
{
	text-decoration: none;
}

.navContainer
{
	width: 100%;
	height: 85px;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navContent
{
	width: 80%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navContent .logo
{
	display: flex;
	align-items: center;
}

.projectLogo
{
	height: 50px;
	width: 50px;
}

.navContent .logo h2
{
	color: #1DA1F2;
	font-size: 28px;
	font-weight: bold;
}


.navActionContainer
{
	width: 400px;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

.roundedLoginButtonContainer
{
	width: 125px;
	height: 40px;
	background-color: #1DA1F2;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	color: white;
	border-radius: 25px;
}

.navLink
{
	color: #1DA1F2;
	border-bottom: 2px solid transparent;
	-webkit-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
}

.navLink:hover
{
	border-bottom: 2px solid #1DA1F2;
}
