.aboutCardContainer
{
	display:flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	height: 260px;
	margin: 20px;
	margin-top: 0;
	background-color: rgba(0, 0, 0, .15);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.aboutCardIllustrationContainer img
{
	margin-top: 20px;
	height: auto;
	width: 50%;
}

.aboutCardTitle
{
	color: white;
}

.aboutCardDescription
{
	padding-top: 20px;
}

.secondaryText
{
	color: grey;
	font-weight: lighter;
}
